.buttonSection {
    display: flex;
    justify-content: center;

    &__button {
        padding: 8px 0;
        width: 85px;
        cursor: pointer;
        font-size: 16px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgb(136, 136, 136);
    }
}