//TEMPLATE
$lineColor: rgb(175, 175, 175);
$topPanelHeight: 80px;
$topPanelHeight_mobile: 95px;
$accentColor: rgb(253, 224, 117);
$backgroundColor: rgb(201, 201, 201);

//TEXT
$normalTextColor: rgb(29, 29, 29);
$lighterTextColor: rgb(100, 100, 100);

//INPUT
$inputHeight: 42px;